RFC8740

TL;DR: when TLS 1.3 connection is used for HTTP/2, some TLSy things are forbidden

>   HTTP/2 servers MUST NOT send post-handshake TLS 1.3
>   CertificateRequest messages.  HTTP/2 clients MUST treat such messages
>   as connection errors (see Section 5.4.1 of [RFC7540]) of type
>   PROTOCOL_ERROR.

https://tools.ietf.org/html/rfc8740

Hopefully this can be solved by come ssl context flag...
Perhaps `httpx` may have to wait for OpenSSL and/or CPython to implement required hooks first.

@dimaqq Have you confirmed this is something we *don't* verify right now? Asking because this looks like an `h2`-level point of concern. Also, any reproduction case yet? If this isn't an immediate issue, I'm thinking we might as well close this for housekeeping purposes, and happily revisit later when users start coming across issues with such faulty servers.

RFC is quite new, I don’t feel it’s de facto standard yet.
I think it’s httpx responsibility to configure the ssl context properly.
(h2 can’t do that, it’s not aware of underlying transport)
Today, I’m not sure cpython ssl context has an api to do so 😅

So, I'm going to close this off for now as currently non-actionable.

I guess the sort of thing that I'd want to see in order to reopen it would be a clear reproducible behavioural issue. "When we send *this* request to *this* server, *this* incorrect behaviour occurs".

Once we've got a confirmation of something in the wild that we can actually point to in order to escalate this from "theoretical case" into "concrete observable case", then it'll be worth us acting on.